.mt-3
.container
  %br
  %br
  %br
  %br
  .row
    .col-md-4.offset-md-4.login-form
      .text-center.logo-img
        = image_tag("logo.png")
      %br
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f|
        = f.input :email, label: false, autofocus: true, autocomplete: "email", placeholder: t("site.labels.user.email")
        .row
          .col-md-9.n-p-right
            = f.input :password, label: false, as: :password, autocomplete: "off", placeholder: t("site.labels.user.password")
          .col-md-3.n-p-left
            %a{onclick: "toggler(this)", type: "button", class: "btn-show-hide"}
              = t("site.labels.user.show_password")
        %br
        .actions
          = f.submit t("site.labels.user.login"), class: "btn-login"
        %br
        .float-right
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me, t("site.labels.user.remember_me")
            / = link_to t("site.labels.user.forgot_password"), new_user_password_path, class: "btn-link"

:javascript
  function toggler(e) {
    if( e.innerHTML == 'Mostrar' ) {
      e.innerHTML = 'Ocultar'
      document.getElementById('user_password').type="text";
    } else {
      e.innerHTML = 'Mostrar'
      document.getElementById('user_password').type="password";
    }
  }