!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %title= t("site.labels.admin_title")
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.bg-admin
    .admin-panel
      .title-admin.text-center
        %h5= "Administración de usuarios"
      .logout.text-right
        = link_to edit_admin_user_path(current_user), data: { turbolinks: false }, class: "" do
          = image_tag "user.png", class: "icon-user"
          .user-data
            = current_user.full_name
            %br
            %strong=current_user.role(true)
        = link_to destroy_user_session_path, class: "", id: "icon-logout", method: :delete do
          = image_tag "exit.png"
    - flash.each do |type, content|
      = render 'shared/flash', type: type, content: content
    .container
      = yield