%div{:class => "alert #{bootstrap_class_for(type)} alert-dismissible fade show", :role => "alert"}
  %button.close{"data-aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  .text.text-center
    = content