/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

$color_dusty_gray: #969696
$blue_ribbon: #233df9
$color_tundora: #4d4d4d
$color_alabaster: #F9F9F9
$color_concrete: #F2F2F2
$color_white: #FFFFFF

// ######################################## BEGIN LOGIN FORM
.login-form
  background-color: $color_white
  padding: 2em
  border-top: 2px solid $blue_ribbon
  box-shadow: 0px 3px 4px #ccc

.form-group
  input.password, input.email
    border-radius: 0
    border: 1px solid #c8c8c8
    color: #808080
    height: 40px
    font-size: 14px

.logo-img > img
  width: 110px

.btn-show-hide, .btn-login
  width: 100%
  height: 40px
  background-color: $blue_ribbon
  border: 0
  color: #fff !important
  display: inline-block
  text-align: center
  line-height: 37px
  cursor: pointer
  font-size: 14px
  &:hover, &:active 
    color: $blue_ribbon !important
    background-color: #fff
    border: 1px solid $blue_ribbon

.btn-show-hide
  border: 1px solid $blue_ribbon

.btn-link
  color: $blue_ribbon
  text-decoration: underline
  font-size: 14px
  &:hover
    color: $blue_ribbon

.n-p-right
  padding-right: 0

.n-p-left
  padding-left: 0

.field
  text-align: right
  label
    margin-bottom: 0
    font-size: 14px

// ######################################## END LOGIN FORM

// ######################################## BEGIN ADMIN PANEL
body.bg-admin
  font-family: "Freesans", "Helvetica"
  font-size: 14px
  background-color: $color_alabaster

.admin-panel
  background-color: $color_tundora
  color: #fff
  padding: 4px 0
  .title-admin, .logout
    display: inline-block
    width: 69%
  .logout
    width: 30%

.form-search
  input, .btn-submit, select
    height: 40px
    border: 0
    border-radius: 0
    background-color: $color_white
    display: inline-block
    color: $color_tundora
  input[type=search]
    width: 100%
    padding-left: 5px
    border: 1px solid $color_dusty_gray
    height: 37px
  .btn-submit
    margin-right: 4px
    cursor: pointer
    text-align: center
    padding: 0 20px
    background-color: $blue_ribbon
    color: $color_white
    border-radius: 8px
  .btn-clean
    top: -10px
    position: relative
    color: $color_white
    background-color: $color_dusty_gray
    padding: 0 18px
    i
      top: 24%
      position: relative

.big-padding
  padding: 40px 0

.little-padding
  padding: 20px 0

.btn-edit-destroy
  color: $blue_ribbon
  .red-monza
    color: red
  p
    margin-bottom: 0
  &:hover
    text-decoration: underline

.btn-link--action
  i, p
    display: inline-block
    margin-bottom: 2px

.btn-primary
  background-color: $blue_ribbon
  border-color: $blue_ribbon
  &:hover
    background-color: $color_white
    color: $blue_ribbon

.btn-cancel
  background-color: $color_tundora
  color: $color_white
  border-color: $color_tundora
  &:hover
    background-color: $color_white
    color: $color_tundora

.pagination
  margin: 15px auto
  float: none
  width: 10%

.pagination
  li
    text-align: center
    border: 1px solid #c8ced3
    background-color: $color_white
    a
      color: $blue_ribbon
      font-weight: bold
    a, span
      padding: 5px 10px
      display: inline-block
  li.prev
    border-radius: 8px 0 0 8px
  li.next
    border-radius: 0 8px 8px 0

.logout, .user-data, .icon-user
  display: inline-block

.user-data
  font-size: 10px
  color: $color_white
  padding-right: 15px
  &:hover
    text-decoration: underline
// ######################################## END ADMIN PANEL