= search_form_for user_filter_q, url: admin_root_path, class: "form-search" do |f|
  .row
    .col-md-12
      .row
        .col-md-8
          = f.search_field :email_cont, placeholder: "Buscar por email"
        .col-md-4.text-right
          = button_tag type: 'submit' , class: "btn-submit" do
            %i.fa.fa-search
          = link_to admin_root_path, class: "btn-submit btn-clean" do
            %i.fa.fa-broom