= simple_form_for user_form, url: url_form do |f|
  - if user_form.errors.any?
    .alert.alert-warning
      %strong= "Se encontraron #{pluralize(user_form.errors.count, "errores")}"

  = f.input :active, as: :boolean
  %br
  .user-fields
    .row
      .col-md-4
        = f.input :first_name
      .col-md-4
        = f.input :last_name
      .col-md-4
        - unless action_name.eql?("edit")
          = f.input :email
        - else
          .form-group
            = f.label "Correo electrónico:"
            %br
            = user_form.email
      .col-md-4
        = f.input :password
      .col-md-4
        = f.input :password_confirmation
      .col-md-4
        - if current_user.admin?
          = f.input :user_type, collection: User::ROLES.invert, include_blank:  "Seleccione rol"
        - else
          .form-group
            = f.label "Tipo de usuario:"
            %br
            = user_form.role(true)
               
    %br
    = link_to "Cancelar", admin_users_path, data: { turbolinks: false }, class: "btn btn-cancel"
    = f.submit class: "btn btn-primary"