#header-admin
  .little-padding#border-bottom-light
    %h4= t("site.labels.users").html_safe
  = render partial: "filter", locals: { user_filter_q: user_filter_q }

.little-padding
  .text-right
    = link_to_add new_admin_user_path if current_user.admin?

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.text-center= "Fecha creación"
        %th.text-center= "Nombre"
        %th.text-center= "Apellido"
        %th.text-center= "Email"
        %th.text-center= "Tipo de Usuario"
        %th.text-center.th-100= "Estado"
        - if current_user.admin?
          %th.text-center{colspan: 2}= "Acciones"

    %tbody
      - @users.each do |user|
        %tr{style: ("background-color: #f2dede" if !user.active?)}
          %td.text-center= user.created_at.strftime("%d/%m/%Y")
          %td.text-center= user.first_name
          %td.text-center= user.last_name
          %td.text-center= user.email
          %td.text-center= user.role true
          %td.text-center= user.status
          - if current_user.admin?
            %td.text-center.th-100
              %strong= link_to_edit edit_admin_user_path(user.id)
            %td.text-center.th-100
              %strong= link_to_destroy admin_user_path(user.id)
            
  = will_paginate @user, renderer: BootstrapPagination::Rails